[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
spotipy = "*"
python-dotenv = "*"
deezer-python = {git = "https://github.com/hithomasmorelli/deezer-python.git", ref = "fix-track-list-truncation"}

[requires]
python_version = "3.7"
